@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  background-color: rgba(199, 60, 63, 90%);
}