@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(199, 60, 63, 90%);
  height: 100vh;
}


.root {
  
}